.Card {
  position: relative;
}

.Card img {
  margin: 20px;
  width: 130px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 4px;
  pointer-events: none;
}

.Overlay {
  position: absolute;
  margin: 20px;
  width: 130px;
  height: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #008CBA;
  border-radius: 4px;
  opacity: 1;
  background-color: #008CBA;
  opacity: 0;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  pointer-events: none;

}

.clicked {
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.hide {
  opacity: 1;
  transition: 0.3s;
  pointer-events: auto;
}

.disabled {
  pointer-events: none;
}